.top-banner{
  padding-top: 10px;
}

@media (min-width: 1200px) {
  .top-banner{
    display: flex;
    flex-direction: row;
  }
  .before:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -20px;
    width: 40%;
    height: 10px;
    border-bottom:  76px solid #ffc551bb;
    border-right: 80px solid transparent;
    z-index: -1;
  }
}

/* Large Devices (lg): Large Desktops (992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your CSS rules for large devices go here */
  .top-banner{
    display: flex;
    flex-direction: row;
  }
  .before:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -20px;
    width: 40%;
    height: 10px;
    border-bottom:  76px solid #ffc551bb;
    border-right: 80px solid transparent;
    z-index: -1;
  }
}

/* Medium Devices (md): Desktops (768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your CSS rules for medium devices go here */
  .top-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Small Devices (sm): Tablets (576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your CSS rules for small devices go here */
  .top-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Extra Small Devices (xs): Phones (less than 576px) */
@media (max-width: 575.98px) {
  /* Your CSS rules for extra small devices go here */
  .top-banner{
    display: flex;
    flex-direction: column;
    div{
      margin: 0 auto;
      ul{
        padding: 0;
      }
    }
  }
}




.nav > li {
  position: relative;
  display: block;
}
.hidden-xxs {
  display: inline-block;
}
div ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}
.sticky {
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  position: sticky;
  background: rgba(0, 0, 0, 0.8);
  /* Adjust this value for the desired margin from the top */
  z-index: 1000; /* Ensures the header stays above other content */
}
.sticky1 {
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  position: sticky;
  background: rgba(0, 0, 0, 0.8);
  top: 0rem; /* Adjust this value for the desired margin from the top */
  z-index: 1000; /* Ensures the header stays above other content */
}
.table > :not(caption) > * > * {
  background-color: whitesmoke;
}

.table-responsive {
  border-radius: 1rem;
}
.fa,
.fab,
.fa-brands {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  /* border-radius: 50%; */
  /* height: 40px; */
  /* width: 40px; */
} 

/* .fa-facebook {
  border: 1px solid #3b5998;
  padding: 3px;
}
.fa-instagram {
  border: 1px solid #e4405f;
}
.fa-linkedin-in {
  border: 1px solid #0e76a8;
} */



